.wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: scroll;
}

.group {
    flex-grow: 1;
    padding-left: 2em;
    padding-right: 2em;
}

.text{
    font-size: .5em;
    margin-top: 3px;
}

.slider {
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 1em;
    height: 25vh;
}

