.wrapper {
    margin-bottom: 40px;
    overflow-x: scoll;
}

.text{
    font-size: .5em;
    margin-top: 3px;
}

.slider {
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 1em;
    height: 25vh;
}

