.wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: scoll;
}

.text{
    font-size: .5em;
    margin-top: 3px;
}

.slider {
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 1em;
    height: 25vh;
}

